---
export function getStaticPaths() {
    return [
        { params: { projectID: "readuniverse" } },
        { params: { projectID: "payrollku" } },
        { params: { projectID: "goodreads-scraper" } },
    ];
}
const { projectID } = Astro.params;

import { Image } from "astro:assets";
import { ProjectLayout } from "../../layouts";
import {
    CheckCircleIcon,
    ExternalLinkIcon,
    FlaskConicalIcon,
    WrenchIcon,
} from "lucide-preact";
import { CenterTitle } from "../../components/UI";
import { ProjectLogo } from "../../assets/Icons";

// Lazy loading ProjectInfo
const ProjectInfo = import("../../utils/ProjectsList");
const { ProjectsList } = await ProjectInfo;
const [project] = ProjectsList.filter(
    (itm) => itm.Name.replaceAll(" ", "-").toLowerCase() === projectID,
);
---

<ProjectLayout
    title=`${project.Name} | Daffa Riandhika`
    description={project.LineDesc}
>
    <div class="Fade_In flex_center absolute inset-0 w-full h-full z-[-1]">
        <Image
            src={project.Shot}
            alt={`${project.Name}_BG_Image`}
            class="w-full h-full opacity-50 blur-md p-6 object-cover"
            loading="eager"
        />
        <div class="bg-imgOverlayGradient w-full h-full absolute inset-0"></div>
    </div>

    <div class="flex_center flex-col gap-4 py-4">
        <Image
            src={ProjectLogo}
            alt={`${project.Name}_Image`}
            class="Fade_Up"
            width={100}
            height={100}
            loading="eager"
        />
        <div class="Fade_Up font-orbitron text-center smallCaps">
            <h1 class="text-[1.8em] md:text-[2em] lg:text-[2.2em]">
                {project.Name}
            </h1>
            <p
                class="text-[0.8em] lg:text-[1em] tracking-widest text-primaryLite"
            >
                {project.LineDesc}
            </p>
        </div>

        <div class="flex_center gap-4 text-[1em]">
            <a
                href={project.Source}
                target="_blank"
                rel="author"
                class="Fade_Stagger flex_center gap-2 PrimaryBtn"
                title={`view ${project.Name} source code`}
            >
                <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 16 16"
                    color="#fff"
                    height="24"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg"
                    style="color: var(--textButton);"
                >
                    <path
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                    >
                    </path>
                </svg>
                <span>Source</span>
            </a>

            <a
                href={project.Link}
                target="_blank"
                rel="noreferrer"
                class="Fade_Stagger flex_center gap-2 PrimaryBtn"
                title={`View ${project.Name} live demo`}
            >
                <ExternalLinkIcon />
                <span>Demo</span>
            </a>
        </div>

        <div>
            {/* Development Status */}
            {
                project.Status === "development" && (
                    <div class="flex_center Fade_Stagger gap-1 px-2 rounded py-1 text-orange-500 bg-orange-500/20 text-xs font-medium w-fit mx-auto">
                        <WrenchIcon size={12} />
                        Under Development
                    </div>
                )
            }

            {/* Beta Status */}
            {
                project.Status === "beta" && (
                    <div class="flex_center Fade_Stagger gap-1 px-2 rounded py-1 text-blue-500 bg-blue-500/20 text-xs font-medium w-fit mx-auto">
                        <FlaskConicalIcon size={12} />
                        Beta Deployment
                    </div>
                )
            }

            {/* Completed Status */}
            {
                project.Status === "completed" && (
                    <div class="flex_center Fade_Stagger gap-1 px-2 rounded py-1 text-emerald-500 bg-emerald-500/20 text-xs font-medium w-fit mx-auto">
                        <CheckCircleIcon size={12} />
                        Completed
                    </div>
                )
            }
        </div>
    </div>
    <CenterTitle title="About This Project" classname="mt-10" />
    <div class="flex Fade_Stagger justify-center items-center">
        <!-- Mock Up Image -->

        <!-- <Image
            src={project.Mockup}
            alt={`${project.Name}_Mockup_Image`}
            width={600}
            class="Fade_Up h-[280px] aspect-auto"
            loading="eager"
        /> -->

        <!-- Demo Credential -->

        <!-- {project.Demo && (
                <div class="w-full max-w-md mx-auto xl:mt-6 lg:mt-2 px-3 py-4 bg-skillGradientAlt rounded-md flex flex-col gap-2">

                    <h3 class="tracking-widest text-lg font-semibold text-center smallCaps">
                        Demo Credential
                    </h3>

                    <div class="flex flex-col gap-3">
                        <div class="flex items-center justify-between bg-backgroundLite p-3 rounded-lg shadow-sm">
                            <div class="flex flex-col">
                                <span class="text-xs uppercase tracking-widest font-orbitron">
                                    Email
                                </span>
                                <span
                                    id="emailContent"
                                    class="break-all font-medium text-sm font-poppins"
                                >
                                    {project.Demo?.email}
                                </span>
                            </div>

                            <button
                                id="emailCopyBtn"
                                class="flex_center relative ml-3 p-2 rounded-md hover:bg-skillGradient transition-colors"
                            >
                                <ClipboardCopyIcon class="emailCopyIcon visible w-4 h-4" />
                                <CheckIcon class="emailCopyIcon absolute invisible w-4 h-4 text-green-500" />
                            </button>
                        </div>

                        <div class="flex items-center justify-between bg-backgroundLite p-3 rounded-lg shadow-sm">
                            <div class="flex flex-col">
                                <span class="text-xs uppercase tracking-widest font-orbitron">
                                    Password
                                </span>
                                <span
                                    id="passContent"
                                    class="break-all font-medium text-sm font-poppins"
                                >
                                    {project.Demo?.password}
                                </span>
                            </div>

                            <button
                                id="passCopyBtn"
                                class="flex_center relative ml-3 p-2 rounded-md hover:bg-skillGradient transition-colors"
                            >
                                <ClipboardCopyIcon class="passCopyIcon visible w-4 h-4" />
                                <CheckIcon class="passCopyIcon absolute invisible w-4 h-4 text-green-500" />
                            </button>
                        </div>
                    </div>
                </div>
            )} -->

        <p
            class="w-full text-justify text-[0.9em] max-sm:text-[0.8em] px-4 indent-12 font-poppins"
        >
            {project.Desc}
        </p>
    </div>

    <CenterTitle title="Features" classname="mt-10" />
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 md:mx-4">
        {
            project.features.map((feature) => (
                <div class="Fade_Up p-4 md:p-6 flex flex-col gap-3 bg-skillGradientAlt rounded-md shadow-front">
                    <span
                        class="font-orbitron smallCaps tracking-wider text-[0.9em] font-semibold text-primaryLite"
                        title={feature.title}
                    >
                        {feature.title}
                    </span>
                    <p
                        class="text-[0.8em] leading-relaxed font-poppins line-clamp-2"
                        title={feature.description}
                    >
                        {feature.description}
                    </p>
                </div>
            ))
        }
    </div>

    <CenterTitle title="Tech Stack" classname="mt-10" />
    <div
        class="Fade_Up gap-2 flex flex-wrap justify-center items-center mb-96 4xl:mb-[30rem]"
    >
        {
            project.Tech.map((tech) => (
                <div
                    title={tech.title}
                    class="Fade_Stagger flex_center flex-col gap-4 min-w-24 aspect-square rounded-lg bg-skillGradient shadow-front"
                >
                    <div class="flex_center min-h-[35px] aspect-square">
                        <Image
                            src={tech.icon}
                            alt={tech.title}
                            width={35}
                            height={35}
                        />
                    </div>
                    <span class="text-[0.7em] tracking-wider font-orbitron smallCaps font-light">
                        {tech.title}
                    </span>
                </div>
            ))
        }
    </div>
</ProjectLayout>

<!-- <script is:inline type="module">
    const emailCopyBtn = document.getElementById("emailCopyBtn");
    const passCopyBtn = document.getElementById("passCopyBtn");
    const emailContent = document.getElementById("emailContent");
    const passContent = document.getElementById("passContent");
    const emailCopyIcons = document.querySelectorAll(".emailCopyIcon");
    const passCopyIcons = document.querySelectorAll(".passCopyIcon");

    emailCopyBtn?.addEventListener("click", () => {
        navigator.clipboard.writeText(emailContent?.textContent);

        emailCopyIcons[0].classList.replace("visible", "invisible");
        emailCopyIcons[1].classList.replace("invisible", "visible");

        setTimeout(() => {
            emailCopyIcons[0].classList.replace("invisible", "visible");
            emailCopyIcons[1].classList.replace("visible", "invisible");
        }, 2000);
    });

    passCopyBtn?.addEventListener("click", () => {
        navigator.clipboard.writeText(passContent?.textContent);

        passCopyIcons[0].classList.replace("visible", "invisible");
        passCopyIcons[1].classList.replace("invisible", "visible");

        setTimeout(() => {
            passCopyIcons[0].classList.replace("invisible", "visible");
            passCopyIcons[1].classList.replace("visible", "invisible");
        }, 2000);
    });
</script> -->
